.c-about {
    margin-top: unit(10);
    margin-bottom: unit(10);
    padding: unit(3);
    
    @media screen and (min-width: $bp-m) {             
        margin-top: unit(12);
        margin-bottom: unit(12);
        padding-right: unit(13); 
        
        p {
            font: $font-paragraph;
        }
    }

    img {
        height: 100%;
    }

    a {
        color: $color-tertiary;
    }
}

// layout

.c-about__container {
    max-width: $container-width;
    margin: 0 auto;
    
    @media screen and (min-width: $bp-m) {             
        margin-top: unit(5);
        margin-bottom: unit(10);        
    }
}

.c-about__row {
    width: 100%;
    
    @media screen and (min-width: $bp-m) {             
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}

.c-about__col {    
    
    @media screen and (min-width: $bp-m) {             
        min-width: 50%;
        width: 50%;
    }
    
    strong {
        font-family: "RobotoCondensedLight", sans-serif;
    }
}

.c-about__col--center {
    justify-content: center;
}

// text format

.c-about__title {
    font: $font-main-heading--mobile;
    color: $color-secondary;
    margin-bottom: unit(.5);
    
    @media screen and (min-width: $bp-m) {             
        margin-bottom: unit(1);
        font: $font-main-heading;
    }
}

.c-about__title--secondary {
    color: $color-grey;
    font: $font-stop-heading--mobile;    
    margin-bottom: unit(1.5);
    
    @media screen and (min-width: $bp-m) {             
        margin-bottom: unit(3);
        font: $font-stop-heading;
    }
}

.c-about__paragraph {    
    margin-bottom: unit(8);
    font: $font-paragraph--mobile;
    
    @media screen and (min-width: $bp-m) {             
        margin-bottom: unit(10);
        font: $font-paragraph;
    }    
}

// media

.c-about__image {
    margin-bottom: unit(6);
    border-top: 1px solid $color-grey;
    padding: unit(4) 0;
    display: block;   
    max-width: unit(30);
    
    @media screen and (min-width: $bp-m) {   
        max-width: initial;
        width: unit(50);
        padding: 0 unit(4);
        border-left: 1px solid $color-grey;
        border-top: none;
        margin-bottom: initial;
        margin-left: auto;       
    }
}

.c-about__list {
    margin-top: unit(4);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    
    
    span {
        display: block;
        color: $color-grey;
        font: $font-stop-heading--mobile;    
        margin-bottom: unit(1);
        
        @media screen and (min-width: $bp-m) {             
            margin-bottom: unit(3);
            font: $font-stop-heading;
        }
    }
    
    ul {
        margin-bottom: unit(6);
    }
    
    li {
        width: 100%;
        margin-bottom: unit(2);
        list-style-position: inside;

        @media screen and (min-width: $bp-m) {                   
            width: auto;
        }
    }
    
    ul li {
        list-style-type: disc;
        padding-left: unit(5.5);
        margin-bottom: unit(1.5);
        font-size: unit(2);
    }
}