*,
*::after,
*::before {
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

html, body {
	height: initial;
	
	@media screen and (min-width: $bp-m) {             
		height: 100%;
	}
}

body {
	font-family: "YantramanavLight", sans-serif;
}

img {
	width: 100%;
}


@media screen and (min-width: 53em) {
	
	:root {
		font-size: 18px;
	}

	.c-trail__content {
		height: 100vh;
		overflow: hidden;
	}
}
