.c-case {
    margin-top: unit(22);
    margin-bottom: unit(22);
    padding: unit(3);
    
    @media screen and (min-width: $bp-m) {             
        padding-right: unit(13); 
    }

    p {
        font: $font-paragraph;
        color: $color-grey;
    }
}

// layout

.c-case__container {
    max-width: $container-width;
    margin: 0 auto;
}

.c-case__row {
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.c-case__col {    
    
    @media screen and (min-width: $bp-m) {             
        width: calc(50% - 80px);
    }

    p {
        margin-bottom: unit(5);
    }
}

.c-case__col--sticky {
    
    @media screen and (min-width: $bp-m) {             
        position: sticky;
        top: unit(10);
        margin-right: unit(10);
    }
}

.c-case__col--full {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    margin-bottom: unit(10);
}

.c-case__col--center {
    justify-content: center;
}

// headings

.c-case__title {
    font: $font-main-heading--mobile;
    color: $color-secondary;
    margin-bottom: unit(3);
    
    @media screen and (min-width: $bp-m) {             
        font: $font-main-heading;
    }
}

.c-case__title--secondary {
    font: $font-stop-heading;    
}


.c-case__title--tertiary {
    display: block;
    margin-bottom: unit(5);
    font-size: 18px;
    text-transform: uppercase;
}

// media

.c-case__image {
    max-width: $container-width;
    margin: 0 auto;
    height: unit(35);
    margin-top: unit(6);
    margin-bottom: unit(6);
    background-size: cover;
    
    @media screen and (min-width: $bp-m) {             
        height: unit(70);
        margin-top: unit(10);
        margin-bottom: unit(10);
    }
}

.c-case__image--full {
    max-width: initial;
    width: 100%;
}

.c-case__video {
    width: 100%;
    margin: 0 auto;
    margin-top: unit(10);
    margin-bottom: unit(10);
    object-fit: cover;
}

// palette

.c-case__palette {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: unit(8);
    margin-bottom: unit(8);
    
    div {
        height: unit(30);
        display: flex;
        align-items: flex-end;
        color: $color-primary;
        flex-basis: 30%;
        justify-content: center;
        padding-bottom: unit(3);
        margin-bottom: unit(3);
        
        @media screen and (min-width: $bp-m) {             
            height: unit(40);
            flex-basis: 15%;
        }
    }
}
