.c-case {
    margin-top: unit(22);
    margin-bottom: unit(22);
    
    p {
        font: $font-paragraph;
        color: $color-grey;
    }
}

// layout

.c-case__container {
    max-width: $container-width;
    margin: 0 auto;
}

.c-case__row {
    width: 100%;
    display: flex;
    align-items: flex-start;
}

.c-case__col {
    width: 50%;
    flex-basis: 50%;

    p {
        margin-bottom: unit(5);
    }
}

.c-case__col--sticky {
    position: sticky;
    top: unit(10);
    margin-right: unit(10);
}

.c-case__col--full {
    width: 100%;
    flex-basis: 100%;
    display: flex;
    margin-bottom: unit(10);
}

.c-case__col--center {
    justify-content: center;
}

// headings

.c-case__title {
    font: $font-main-heading;
    color: $color-secondary;
    margin-bottom: unit(3);
}

.c-case__title--secondary {
    font: $font-stop-heading;    
}


.c-case__title--tertiary {
    display: block;
    margin-bottom: unit(5);
    font-size: 18px;
    text-transform: uppercase;
}

// media

.c-case__image {
    max-width: $container-width;
    margin: 0 auto;
    height: unit(70);
    margin-top: unit(10);
    margin-bottom: unit(10);
    background-size: cover;
}

.c-case__image--full {
    max-width: initial;
    width: 100%;
}

.c-case__video {
    width: 100%;
    margin: 0 auto;
    margin-top: unit(10);
    margin-bottom: unit(10);
    object-fit: cover;
}

// palette

.c-case__palette {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: unit(8);
    margin-bottom: unit(8);

    div {
        height: unit(40);
        display: flex;
        align-items: flex-end;
        color: $color-primary;
        flex-basis: 15%;
        justify-content: center;
        padding-bottom: unit(3);
    }
}
