.glide__slide {
    display: flex;
    justify-content: center;
}

.glide__arrow {
    color: initial;    
    box-shadow: initial;
    border: none;
    font: $font-paragraph;
    font-size: 14px;
}

.glide__arrow--left {
    left: 0;
    
    &:before {
        content: '←';
        display: block;
    }
    
    @media screen and (min-width: $bp-m) {             
        transform: translateY(-50%) rotate(90deg);
        left: 1rem;    

        &:before {
            content: 'prev';
        }
    }
    
}

.glide__arrow--right {
    right: 0;
    
    &:before {
        content: '→';
        display: block;
    }

    @media screen and (min-width: $bp-m) {             
        transform: translateY(-50%) rotate(90deg);
        right: 5.5rem;    

        &:before {
            content: 'next';        
        }
    }


    
}    