.glide__slide {
    display: flex;
    justify-content: center;
}

.glide__arrow {
    color: initial;
    transform: translateY(-50%) rotate(-90deg);
    box-shadow: initial;
    border: none;
    font: $font-paragraph;
    font-size: 14px;
}

.glide__arrow--left {
    left: 0;
    transform: translateY(-50%) rotate(90deg);

    @media screen and (min-width: $bp-m) {             
        left: 1rem;    
    }
}

.glide__arrow--right {
    right: 0;
    transform: translateY(-50%) rotate(90deg);

    @media screen and (min-width: $bp-m) {             
        right: 5.5rem;    
    }
}