.c-logo {
    position: fixed;
    top: unit(5);
    left: unit(5);

    img {
        width: unit(2.5);
        
        @media screen and (min-width: $bp-m) {             
            width: unit(5);            
        }
    }

    footer & {
        position: initial;
    }
}
