.c-logo {
    position: initial;
    margin: unit(3.5) 0 0 unit(3.5);
    display: block;
    
    @media screen and (min-width: $bp-m) {             
        position: absolute;        
        top: unit(3.5);
        left: unit(3.5);
    }

    img {
        width: unit(2.5);
        
        @media screen and (min-width: $bp-m) {             
            width: unit(5);            
        }
    }

    footer & {
        position: initial;
        margin: 0;
        
        @media screen and (min-width: $bp-m) {             
            width: unit(5);            
        }
    }
}
