@font-face {
	font-family: "PlayfairDisplaySemiBold";
	src: url('../fonts/PlayfairDisplay-SemiBold.ttf');
}

@font-face {
	font-family: "PlayfairDisplayRegular";
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: "RobotoCondensedLight";
	src: url('../fonts/RobotoCondensed-Light.ttf');
}