@font-face {
	font-family: "PlayfairDisplaySemiBold";
	src: url('../fonts/PlayfairDisplay-SemiBold.ttf');
}

@font-face {
	font-family: "PlayfairDisplayRegular";
	src: url('../fonts/PlayfairDisplay-Regular.ttf');
}

@font-face {
	font-family: "YantramanavRegular";
	src: url('../fonts/Yantramanav-Regular.ttf');
}

@font-face {
	font-family: "YantramanavLight";
	src: url('../fonts/Yantramanav-Light.ttf');
}

@font-face {
	font-family: "YantramanavThin";
	src: url('../fonts/Yantramanav-Thin.ttf');
}