
// brand color
$color-primary: #FFF;
$color-secondary: #000;
$color-tertiary: #FF3366;
$color-grey: #737885;
$color-ultra-light: #f2f2f2;

// base unit property for measures and spacing
$base-unit: 8px;

// font styles
$font-main-heading: 400 40px/1.5 'PlayfairDisplayRegular', serif;
$font-main-heading--mobile: 400 30px/1.5 'PlayfairDisplayRegular', serif;
$font-sub-heading: 400 20px/1.5 'AvenirNextRegular', sans-serif;
$font-sub-heading--mobile: 400 16px/1.5 'AvenirNextRegular', sans-serif;
$font-stop-heading: 400 24px/1.5 'PlayfairDisplayRegular', serif;
$font-paragraph: 400 16px/1.5 'AvenirNextRegular', sans-serif;

// base width
$container-width: 1080px;

// break point
$bp-m: 1180px