.c-works {
    display: flex;
	align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: unit(2);
    
    @media screen and (min-width: $bp-m) {             
        height: 100vh;
    }
}

.c-works--mobile {
    display: flex;
    
    @media screen and (min-width: $bp-m) {             
        display: none;        
    }
    
}

.c-works--desktop {
    display: none;
    
    @media screen and (min-width: $bp-m) {             
        display: flex;
    }
    
}

.c-works-item {
    width: 100%;
    text-decoration: none;
    margin-bottom: unit(5);

    @media screen and (min-width: $bp-m) {             
        width: 480px;        
    }
    
    &:last-child {        
        margin-right: 0;
    }

    img {
        width: 100%;
    }
}

.c-works-item__title {
    font: $font-main-heading--mobile;
    color: $color-secondary;
    margin-top: unit(1);
    margin-left: unit(1);
    
    @media screen and (min-width: $bp-m) {             
        font: $font-main-heading;        
    }
}

.c-works-item__description {
    font: $font-sub-heading--mobile;
    color: #4F4F4F;
    margin-left: unit(1);
    
    @media screen and (min-width: $bp-m) {             
        font: $font-sub-heading;        
    }
}

.c-works-item__link {
    font: $font-paragraph;
    color: $color-tertiary;
    text-decoration: underline;
    margin-top: unit(1);
    margin-left: unit(1);
}
