.c-works-item {
    width: 400px;
    margin-right: unit(20);
    text-decoration: none;
    
    &:last-child {        
        margin-right: 0;
    }

    img {
        width: 100%;
    }
}

.c-works-item__title {
    font: $font-main-heading;
    color: $color-secondary;
    margin-top: unit(1);
    margin-left: unit(1);
}

.c-works-item__description {
    font: $font-sub-heading;
    color: #4F4F4F;
    margin-left: unit(1);
}

.c-works-item__link {
    font: $font-paragraph;
    color: $color-tertiary;
    text-decoration: underline;
    margin-top: unit(1);
    margin-left: unit(1);
}