/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

:root {
  font-size: 16px; }

html, body {
  height: 100%; }

body {
  font-family: "AvenirNextRegular", sans-serif; }

img {
  width: 100%; }

@media screen and (min-width: 53em) {
  :root {
    font-size: 18px; }
  .c-trail__content {
    height: 100vh;
    overflow: hidden; } }

@font-face {
  font-family: "PlayfairDisplaySemiBold";
  src: url("../fonts/PlayfairDisplay-SemiBold.ttf"); }

@font-face {
  font-family: "PlayfairDisplayRegular";
  src: url("../fonts/PlayfairDisplay-Regular.ttf"); }

@font-face {
  font-family: "AvenirNextBold";
  src: url("../fonts/AvenirNext-Bold.ttf"); }

@font-face {
  font-family: "AvenirNextRegular";
  src: url("../fonts/AvenirNext-Regular.ttf"); }

.c-trail {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .c-trail a {
    color: #FF3366;
    margin-top: 80px;
    z-index: 10000;
    position: absolute;
    bottom: 64px; }
    @media screen and (min-width: 1180px) {
      .c-trail a {
        bottom: 80px; } }

.c-trail__content {
  width: 100%;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  isolation: isolate;
  overflow: visible; }

strong {
  font-family: 'PlayfairDisplaySemiBold', serif;
  font-weight: 600;
  letter-spacing: 0.4px; }

.c-trail__title {
  font: 400 30px/1.5 "PlayfairDisplayRegular", serif;
  position: relative;
  z-index: 10000;
  mix-blend-mode: difference;
  pointer-events: none;
  text-align: center; }
  @media screen and (min-width: 1180px) {
    .c-trail__title {
      font: 400 40px/1.5 "PlayfairDisplayRegular", serif; } }

.c-trail__img {
  max-width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  will-change: transform; }

.c-menu {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  display: none; }
  @media screen and (min-width: 1180px) {
    .c-menu {
      background-color: #000; } }

.c-menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .c-menu__list li {
    margin-bottom: 48px;
    font-size: 40px; }
    .c-menu__list li:nth-child(3) a,
    .c-menu__list li:nth-child(4) a {
      text-decoration: line-through;
      cursor: not-allowed; }
  .c-menu__list a {
    color: #737885;
    text-decoration: none; }
    .c-menu__list a.c-menu__list--active {
      color: #000;
      font-weight: 600;
      text-decoration: underline; }
      @media screen and (min-width: 1180px) {
        .c-menu__list a.c-menu__list--active {
          color: #FFF; } }

.c-menu__bar {
  width: 80px;
  height: 120px;
  background: none;
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center; }
  @media screen and (min-width: 1180px) {
    .c-menu__bar {
      height: 100vh;
      background-color: #000; } }

.c-menu__toggle {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer; }
  .c-menu__toggle span {
    display: block;
    background-color: #000;
    width: 24px;
    height: 1.6px;
    position: absolute; }
    @media screen and (min-width: 1180px) {
      .c-menu__toggle span {
        background-color: #FFF; } }
    .c-menu__toggle span:first-child {
      top: 0; }
    .c-menu__toggle span:nth-child(2) {
      top: 8px; }
    .c-menu__toggle span:nth-child(3) {
      top: 16px; }

.c-grid {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center; }

.c-grid__item {
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  padding: 16px; }

.c-logo {
  position: fixed;
  top: 40px;
  left: 40px; }
  .c-logo img {
    width: 20px; }
    @media screen and (min-width: 1180px) {
      .c-logo img {
        width: 40px; } }
  footer .c-logo {
    position: initial; }

.c-works-item {
  width: 280px;
  text-decoration: none; }
  @media screen and (min-width: 1180px) {
    .c-works-item {
      width: 480px; } }
  .c-works-item:last-child {
    margin-right: 0; }
  .c-works-item img {
    width: 100%; }

.c-works-item__title {
  font: 400 30px/1.5 "PlayfairDisplayRegular", serif;
  color: #000;
  margin-top: 8px;
  margin-left: 8px; }
  @media screen and (min-width: 1180px) {
    .c-works-item__title {
      font: 400 40px/1.5 "PlayfairDisplayRegular", serif; } }

.c-works-item__description {
  font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
  color: #4F4F4F;
  margin-left: 8px; }
  @media screen and (min-width: 1180px) {
    .c-works-item__description {
      font: 400 20px/1.5 "AvenirNextRegular", sans-serif; } }

.c-works-item__link {
  font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
  color: #FF3366;
  text-decoration: underline;
  margin-top: 8px;
  margin-left: 8px; }

.c-case {
  margin-top: 176px;
  margin-bottom: 176px;
  padding: 24px; }
  @media screen and (min-width: 1180px) {
    .c-case {
      padding-right: 104px; } }
  .c-case p {
    font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
    color: #737885; }

.c-case__container {
  max-width: 1080px;
  margin: 0 auto; }

.c-case__row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap; }

@media screen and (min-width: 1180px) {
  .c-case__col {
    width: calc(50% - 80px); } }

.c-case__col p {
  margin-bottom: 40px; }

@media screen and (min-width: 1180px) {
  .c-case__col--sticky {
    position: sticky;
    top: 80px;
    margin-right: 80px; } }

.c-case__col--full {
  width: 100%;
  flex-basis: 100%;
  display: flex;
  margin-bottom: 80px; }

.c-case__col--center {
  justify-content: center; }

.c-case__title {
  font: 400 30px/1.5 "PlayfairDisplayRegular", serif;
  color: #000;
  margin-bottom: 24px; }
  @media screen and (min-width: 1180px) {
    .c-case__title {
      font: 400 40px/1.5 "PlayfairDisplayRegular", serif; } }

.c-case__title--secondary {
  font: 400 24px/1.5 "PlayfairDisplayRegular", serif; }

.c-case__title--tertiary {
  display: block;
  margin-bottom: 40px;
  font-size: 18px;
  text-transform: uppercase; }

.c-case__image {
  max-width: 1080px;
  margin: 0 auto;
  height: 280px;
  margin-top: 48px;
  margin-bottom: 48px;
  background-size: cover; }
  @media screen and (min-width: 1180px) {
    .c-case__image {
      height: 560px;
      margin-top: 80px;
      margin-bottom: 80px; } }

.c-case__image--full {
  max-width: initial;
  width: 100%; }

.c-case__video {
  width: 100%;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  object-fit: cover; }

.c-case__palette {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
  margin-bottom: 64px; }
  .c-case__palette div {
    height: 240px;
    display: flex;
    align-items: flex-end;
    color: #FFF;
    flex-basis: 30%;
    justify-content: center;
    padding-bottom: 24px;
    margin-bottom: 24px; }
    @media screen and (min-width: 1180px) {
      .c-case__palette div {
        height: 320px;
        flex-basis: 15%; } }

.c-footer {
  border-top: 1px solid #f2f2f2;
  height: 160px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px; }
  .c-footer span {
    font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
    font-size: 12px;
    color: #737885; }
    @media screen and (min-width: 1180px) {
      .c-footer span {
        font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
        font-size: 16px; } }

.glide__slide {
  display: flex;
  justify-content: center; }

.glide__arrow {
  color: initial;
  transform: translateY(-50%) rotate(-90deg);
  box-shadow: initial;
  border: none;
  font: 400 16px/1.5 "AvenirNextRegular", sans-serif;
  font-size: 14px; }

.glide__arrow--left {
  left: 0;
  transform: translateY(-50%) rotate(90deg); }
  @media screen and (min-width: 1180px) {
    .glide__arrow--left {
      left: 1rem; } }

.glide__arrow--right {
  right: 0;
  transform: translateY(-50%) rotate(90deg); }
  @media screen and (min-width: 1180px) {
    .glide__arrow--right {
      right: 5.5rem; } }
