        @@include('../blocks/head.html')
 
        <main class="c-case">
            <div class="c-case__container">
                <h1 class="c-case__title">Fila</h1>                
                <h2 class="c-case__title c-case__title--secondary">UI Design Concept</h2>
                <p class="c-case__paragraph">Musica e moda hanno avuto sempre un filo in grado di connetterli tra loro. Ora condividono anche l'esperienza di acquisto, attraverso la metafora del walkman.</p>                
            </div>
            <div class="c-case__image c-case__image--full" style="background-image: url(img/case/fila/fila-walkman-splash.jpg)"></div>
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="c-case__title">Palette colori</h2>
                        <h3 class="c-case__title c-case__title--secondary">Black & White</h3>
                        <p class="c-case__paragraph">
                            Le cromie usate per l'interfaccia sono composte prevalentemente da tonalità derivate dal bianco e dal nero.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <!-- VUOTO -->                        
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" class="c-case__palette">
                    <div style="background-color: #1E1E1E">#1E1E1E</div>
                    <div style="background-color: #FFFFFF; border: 1px solid #C7C7C7; color: #000">#FFFFFF</div>
                    <div style="background-color: #2A2A2A">#2A2A2A</div>
                    <div style="background-color: #979797">#979797</div>
                    <div style="background-color: #E51937">#E51937</div>
                    <div style="background-color: #1F2D47">#1F2D47</div>
                </div>
            </div>
            <!-- start component library -->
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="c-case__title">Components Library</h2>
                        <h3 class="c-case__title c-case__title--secondary">Un mini Design System</h3>
                        <p class="c-case__paragraph">
                            Pensare per componenti ha reso molto più veloce il lavoro, ottimizzando gli sprechi e allo stesso tempo avere una consistenza maggiore. </br>
                            Lo stile dei bottoni, si rifà a quello dei tasti del vecchio walkman.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <!-- VUOTO -->
                    </div>
                </div>
                <div class="c-case__row">
                    <div class="c-case__col c-case__col--full" data-aos="fade-up" data-aos-duration="1500">
                        <picture>
                            <source srcset="img/case/fila/design-system.png" media="(min-width:1080px)">
                            <img srcset="img/case/fila/design-system.png" alt="">                            
                        </picture>
                    </div>
                </div>
            </div>
            <!-- end component library -->
            <div class="c-case__image c-case__image--full" style="background-image: url(img/case/fila/fila-walkman-logo.jpg)" data-aos="fade-up" data-aos-duration="1500"></div>            
            <!-- start screens -->
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col">
                        <h2 class="c-case__title" data-aos="fade-up" data-aos-duration="1500">Scopri l'esperienza</h2>
                        <h3 class="c-case__title c-case__title--secondary" data-aos="fade-up" data-aos-duration="1500">Scegli da quale punto iniziare</h3>
                        <p class="c-case__paragraph" data-aos="fade-up" data-aos-duration="1500">
                            Muovendosi attraverso al bottom bar, l'utente ha la possibilità di scegliere il suo percorso di acquisto facendosi guidare dalla musica, oppure scoprire i prodotti e le canzoni associate ad esso. </br>
                        </p>
                        <img class="c-case__screen" src="img/case/fila/mock-wear.png" alt="" data-aos="fade-up" data-aos-duration="1500">                    
                        <img class="c-case__screen" src="img/case/fila/mock-play-song.png" alt="" data-aos="fade-up" data-aos-duration="1500">
                        <img class="c-case__screen" src="img/case/fila/mock-product-discovery.png" alt="" data-aos="fade-up" data-aos-duration="1500">
                        <img class="c-case__screen" src="img/case/fila/mock-playlist.png" alt="" data-aos="fade-up" data-aos-duration="1500">                        
                    </div>
                    <div class="c-case__col">
                        <img class="c-case__screen" src="img/case/fila/mock-music.png" alt="" data-aos="fade-up" data-aos-duration="1500">
                        <img class="c-case__screen" src="img/case/fila/mock-shoes.png" alt="" data-aos="fade-up" data-aos-duration="1500">
                        <p class="c-case__paragraph" data-aos="fade-up" data-aos-duration="1500">
                            Nelle pagine "nodo", ovvero la pagina prodotto e quella del brano, condividono diversi componenti, a cominciare dalla Action Sheet. In caso stessimo ascoltando il brano, ci vengono proposti prodotti associati ad esso secondo una logica di stile. Discorso opposto per la pagina prodotto, dove troveremo la Action Sheet popolata da brani in tono con il prodotto.
                        </p>
                        <img class="c-case__screen" src="img/case/fila/play-song-open-sheet.png" alt="" data-aos="fade-up" data-aos-duration="1500">                        
                        <img class="c-case__screen" src="img/case/fila/mock-product-discovery-open-sheet.png" alt="" data-aos="fade-up" data-aos-duration="1500">
                    </div>
                </div>      
            </div>
        
            <!-- end screens -->
        </main>
        
		@@include('../blocks/menu.html', {
            "link1": "index.html",
			"link2": "works.html",
			"link3": "#",
            "link4": "#",
            "linkClass1": "",
			"linkClass2": "c-menu__list--active",
			"linkClass3": "",
			"linkClass4": ""
        })      
          
        
        <script src="js/menu.js"></script>        
        <script src="js/aos/aos.min.js"></script>
        <script>
            AOS.init();
        </script>      

        @@include('../blocks/footer.html')
