        @@include('../blocks/head.html')
 
        <main class="c-case">
            <div class="c-case__container">
                <h1 class="c-case__title">Chanel</h1>                
                <h2 class="c-case__title c-case__title--secondary">UI Design Concept</h2>
                <p class="c-case__paragraph">Reinterpretazione del sito, applicando ad esso le logiche <strong>E-commerce</strong>.</p>                
            </div>
            <div class="c-case__image c-case__image--full" style="background-image: url(img/case/chanel/chanel-full1.jpg)"></div>
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col">
                        <!-- VUOTO -->                                                
                    </div>
                    <div class="c-case__col">
                        <p class="c-case__paragraph" data-aos="fade-up" data-aos-duration="1500">
                            Questo Concept coinvolge il funnel del sito di Chanel, che attualmente permette esclusivamente la consultazione delle boutique in cui il prodotto è disponibile. </br>
                            La scelta di utilizzare un brand reale è motivata dalla disponibilità di linee guida consolidate del brand, da declinare sull'interfaccia del sito.
                        </p>   
                    </div>
                </div>
            </div>
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="c-case__title">Palette colori</h2>
                        <h3 class="c-case__title c-case__title--secondary">Black & White</h3>
                        <p class="c-case__paragraph">
                            I colori scelti sono ereditati dal brand Chanel. Partendo dal bianco e dal nero ho ricavato delle tonalità che, applicate agli elementi della interfaccia, non ne compromettono l'usabilità, mantenendo corretti valori di contrasto dei testi e garantendo una corretta visibilità degli elemeni. 
                        </p>
                    </div>
                    <div class="c-case__col">
                        <!-- VUOTO -->                        
                    </div>
                </div>
                <div data-aos="fade-up" data-aos-duration="1000" class="c-case__palette">
                    <div style="background-color: #000000">#000000</div>
                    <div style="background-color: #585858">#585858</div>
                    <div style="background-color: #909090">#909090</div>
                    <div style="background-color: #C7C7C7">#C7C7C7</div>
                    <div style="background-color: #E3E3E3">#E3E3E3</div>
                    <div style="background-color: #FFFFFF; border: 1px solid #C7C7C7; color: #000">#FFFFFF</div>
                </div>
            </div>
            <div class="c-case__image c-case__image--full" style="background-image: url(img/case/chanel/chanel-full2.jpg)" data-aos="fade-up" data-aos-duration="1500"></div>
            <!-- start component library -->
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="c-case__title">Design System</h2>
                        <h3 class="c-case__title c-case__title--secondary">La logica dell'Atomic Design</h3>
                        <p class="c-case__paragraph">
                            Ho approcciato il concept con l'idea di ricavarne un esempio di <strong>Design System</strong>. Una piccola libreria di componenti riutilizzabili su tutta l'interfaccia del sito.</br> 
                            Il perimetro del Concept sono state le 3 pagine iniziali del <strong>funnel</strong>. Questo ha comunque permesso di ricavare un numero sufficente di componenti, che possiamo implementare in diverse aree del sito. 
                        </p>
                    </div>
                    <div class="c-case__col">
                        <!-- VUOTO -->
                    </div>
                </div>
                <div class="c-case__row">
                    <div class="c-case__col c-case__col--full" data-aos="fade-up" data-aos-duration="1500">
                        <picture>
                            <source srcset="img/case/chanel/design-system.jpg" media="(min-width:1080px)">
                            <img srcset="img/case/chanel/design-system.jpg" alt="chanel design system">                            
                        </picture>
                    </div>
                </div>
            </div>
            <!-- end component library -->
            <!-- start sticky homepage -->
            <div class="c-case__container">
                <div class="c-case__row">
                    <div class="c-case__col" data-aos="fade-up" data-aos-duration="1500">
                        <h2 class="c-case__title">Wrap up</h2>
                        <h3 class="c-case__title c-case__title--secondary">Montiamo l'interfaccia</h3>
                        <p class="c-case__paragraph">
                            Ho cercato di mantenere uno stile pulito, minimale e privo di ogni elemento non necessario. I componenti creati vogliono essere il filo che unisce i bisogni del business al tipo di esperienza esclusiva ricercata dall'utente.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <!-- VUOTO -->
                    </div>
                </div>
                <div class="c-case__row" data-aos="fade-up" data-aos-duration="1500">
                    <div class="c-case__col c-case__col--sticky">
                        <h3 class="c-case__title c-case__title--secondary">Homepage</h3>                    
                        <p class="c-case__paragraph">
                            Per la homepage ho scelto di inserire uno <strong>slider hero</strong> di 3 immagini. Il motivo principale di questa scelta è la frequenza con cui questa caratteristica viene richiesta da un considerabile numero di clienti.</br>
                            L'obiettivo è stato mantenere la hero coerente allo stile del brand, incastonandola nel classico <strong>frame</strong> intorno all'immagine, utilizzando lo spazio negativo, e aggiungendo anche funzionalità individuate lato business.</br>
                            Successivamente troviamo il componente <strong>shooting</strong>, che prende il nome dal tipo di immagine che ingloba.</br> Questo componente vuole essere un rapido accesso ad un tipo di prodotto, focalizzandosi sulla texture del capo e sull'attrazione del tipo di immagine. Tra il <strong>carosello</strong> delle borse e quello dedicato alle calzature, ho inserito 2 box che fungono da collegamento a degli outfit, decorati con foto scattate in un contesto di sfilata ricreato.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <img src="img/case/chanel/homepage.jpg" alt="homepage">
                    </div>
                </div>                
            </div>
            <!-- end sticky homepage -->
            <div class="c-case__container" data-aos="fade-up" data-aos-duration="1500">
                <video class="c-case__video" autoplay loop>
                    <source src="img/video/hero-carousel.mp4" type="video/mp4">
                </video>
            </div>
            <!-- start sticky listing -->
            <div class="c-case__container">
                <div class="c-case__row" data-aos="fade-up" data-aos-duration="1500">
                    <div class="c-case__col c-case__col--sticky">
                        <h3 class="c-case__title c-case__title--secondary">Listing page</h3>                    
                        <p class="c-case__paragraph">
                            Dalla pagina della lista prodotti della versione reale del sito, ho ottimizzato gli spazi che precedono l'inizio della lista dei prodotti. Dove prima trovavamo una piccola hero, ora invece inizia subito la lista dei prodotti, andando incontro alle logiche di progettazione di interfacce <strong>E-commerce</strong>.</br> 
                            La linearità del layout della lista prodotti, viene spezzato da immagini di dettaglio ed estratti di shooting fotografici che raccontano il prodotto in maniera differente dalla foto <strong>still life</strong>.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <img src="img/case/chanel/listing.jpg" alt="listing page">
                    </div>
                </div>
            </div>
            <!-- end sticky listing -->
            <div class="c-case__container" data-aos="fade-up" data-aos-duration="1500">
                <video class="c-case__video" autoplay loop>
                    <source src="img/video/listing.mp4" type="video/mp4">
                </video>
            </div>
            <!-- start sticky product page -->
            <div class="c-case__container">
                <div class="c-case__row" data-aos="fade-up" data-aos-duration="1500">
                    <div class="c-case__col c-case__col--sticky">
                        <h3 class="c-case__title c-case__title--secondary">Product page</h3>                    
                        <p class="c-case__paragraph">
                            Per la pagina prodotto, ho scelto di ottimizzare gli spazi della <strong>sidebar destra</strong>, mantenendola sempre in posizione fissa. Questo permette di avere le informazioni del prodotto e le <strong>CTA principali</strong> sempre visibili, indipendenti dallo scroll e a portata di mano.</br> 
                            Rispetto al layout della pagina prodotto attualmente nel sito, ho inserito una hero che contiene sia una immagine di prodotto indossato e una del prodotto <strong>still life</strong>.</br>
                            Sotto la piega della pagina, troviamo la griglia che alterna immagini a del testo descrittivo. Le immagini di dettaglio del prodotto possono essere ingrandite al 100% dello schermo.
                        </p>
                    </div>
                    <div class="c-case__col">
                        <img src="img/case/chanel/product-page.jpg" alt="product page">
                    </div>
                </div>
            </div>
            <!-- end sticky product page -->
            <div class="c-case__container" data-aos="fade-up" data-aos-duration="1500">
                <video class="c-case__video" autoplay loop>
                    <source src="img/video/product-detail.mp4" type="video/mp4">
                </video>
            </div>            
        </main>
        
		@@include('../blocks/menu.html', {
            "link1": "index.html",
			"link2": "works.html",
            "link3": "about.html",
			"link4": "contacts.html",
            "linkClass1": "",
			"linkClass2": "c-menu__list--active",
			"linkClass3": "",
			"linkClass4": ""
        })      
          
        
        <script src="js/menu.js"></script>        
        <script src="js/aos/aos.min.js"></script>
        <script>
            AOS.init();
        </script>      

        @@include('../blocks/footer.html')
