		@@include('../blocks/head.html')

		<main class="c-trail" data-aos="fade-up" data-aos-duration="1500">		
			<div class="c-trail__content">
				<img aria-hidden="true" class="c-trail__img" src="img/trail/case-trail.jpg" alt="Chanel Concept" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/case-trail01.jpg" alt="Chanel Concept" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/case-trail02.jpg" alt="Chanel Concept" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/chanel1.jpg" alt="Chanel Concept hero" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/chanel2.jpg" alt="Chanel Concept girl" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/chanel4.jpg" alt="Chanel Concept" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/fila-trail.jpg" alt="Fila Concept comp" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/fila-walkman-logo.jpg" alt="Fila Concept logo" />
				<img aria-hidden="true" class="c-trail__img" src="img/trail/fila-walkman-splash.jpg" alt="Fila Concept comp" />
				<h1 class="c-trail__title">I'm a Product and Visual Designer,</br>specialized in User Interfaces.</h1>
			</div>				
			<a class="c-trail__link" href="works.html">Works &rarr;</a>
		</main>
		<span class="c-trail__firm">©2020 Cristiano Erbacci ____________</span>
		

		@@include('../blocks/menu.html', {
			"link1": "index.html",
			"link2": "works.html",
			"link3": "about.html",
			"link4": "contacts.html",
			"linkClass1": "c-menu__list--active",
			"linkClass2": "",
			"linkClass3": "",
			"linkClass4": ""
		})

		<!-- scripts -->
		<script src="js/imagesloaded.pkgd.min.js"></script>
		<script src="js/TweenMax.min.js"></script>
		<script src="js/imgTrail.js"></script>
		<script src="js/menu.js"></script>
		<script src="js/aos/aos.min.js"></script>

		<script>
			AOS.init()
		</script>
    </body>
</html>