<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Cristiano Erbacci | Multidisciplinary Designer</title>
        <meta name="description" content="Cristiano Erbacci is an Italian based Multidisciplinary Designer">
        <meta name="keywords" content="design, web design, ui design, racing design, cristiano erbacci" />
        <meta name="author" content="Cristiano Erbacci" />
        <link rel="stylesheet" type="text/css" href="css/styles.css" />
    </head>

    <body>

        @@include('../blocks/logo.html')
 
        <main class="c-grid">
            <a href="" class="c-grid__item c-works-item">
                <img src="https://via.placeholder.com/500" alt="">
                <h2 class="c-works-item__title">
                    Title
                </h2>
                <span class="c-works-item__description">
                    Description
                </span>
                <span href="" class="c-works-item__link">
                    Watch case &rarr;
                </span>
            </a>
            <a href="" class="c-grid__item c-works-item">
                <img src="https://via.placeholder.com/500" alt="">
                <h2 class="c-works-item__title">
                    Title
                </h2>
                <span class="c-works-item__description">
                    Description
                </span>
                <span href="" class="c-works-item__link">
                    Watch case &rarr;
                </span>
            </a>
            <a href="" class="c-grid__item c-works-item">
                <img src="https://via.placeholder.com/500" alt="">
                <h2 class="c-works-item__title">
                    Title
                </h2>
                <span class="c-works-item__description">
                    Description
                </span>
                <span href="" class="c-works-item__link">
                    Watch case &rarr;
                </span>
            </a>
            <a href="" class="c-grid__item c-works-item">
                <img src="https://via.placeholder.com/500" alt="">
                <h2 class="c-works-item__title">
                    Title
                </h2>
                <span class="c-works-item__description">
                    Description
                </span>
                <span href="" class="c-works-item__link">
                    Watch case &rarr;
                </span>
            </a>
        </main>

		@@include('../blocks/menu.html', {
			"link1": "index.html",
			"link2": "works.html",
			"link3": "about.html",
			"link4": "contacts.html"
        })      
          
        <script src="js/menu.js"></script>
        <script src="js/works.js"></script>
    </body>

</html>
